<header class="navbar navbar-default navbar-fixed-top bs-docs-nav" role="banner">
    <div class="container">
        <div class="navbar-header">
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="#" class="navbar-brand">Investments approval system</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Contact</a></li>
                <li><a href="#">How to use</a></li>
                {% if user is defined %}
                    <li><a href="#">{{ user }}</a></li>
                    <li><a href="{{ path('logout') }}">logout</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</header>