<div class="panel panel-default">

    <div class="list-group">
        <a href="#" class="list-group-item active">
            <span class="badge">14</span>
            Projects for validation
        </a>
        <a href="#" class="list-group-item">
            <span class="badge">14</span>
            All projects
        </a>
        <a href="#" class="list-group-item">
            User profile
        </a>
    </div>

</div>