{% extends "::base.html.twig" %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
<h1>Welcome to the Role:admin page {{ user }}</h1>
    <ul class="nav nav-tabs nav-justified">
        <li role="presentation" class="active"><a href="#">Projects</a></li>
        <li role="presentation"><a href="#">Access rights</a></li>
        <li role="presentation"><a href="#">Requests</a></li>
    </ul>
    <br>
    <div class="row">
        <div class="col-md-3">
            <div class="list-group">
                <a href="#" class="list-group-item active">
                    <span class="badge">14</span>
                    All projects
                </a>
                <a href="#" class="list-group-item">
                    <span class="badge">3</span>
                    C1 Innovations
                </a>
                <a href="#" class="list-group-item">
                    <span class="badge">7</span>
                    C2 Capacity
                </a>
                <a href="#" class="list-group-item">
                    <span class="badge"></span>
                    C3 Green projects
                </a>
                <a href="#" class="list-group-item">
                    <span class="badge">3</span>
                    C5 IT projects
                </a>
                <a href="#" class="list-group-item">
                    <span class="badge">1</span>
                    C5 Food safety
                </a>
            </div>
        </div>
        <div class="col-md-9">

            <table class="table">
                <thead>
                <tr>
                    <th>Number</th>
                    <th>Category</th>
                    <th>Name</th>
                    <th>Amount</th>
                    <th>Payback period</th>
                    <th>NPV</th>
                </tr>
                </thead>
                <tr>
                    <td>1</td>
                    <td>C1</td>
                    <td>Baby Food Baby Food Baby Food Baby Food Baby</td>
                    <td>179 mUAH</td>
                    <td>36 months</td>
                    <td>5 mUAH</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>C7</td>
                    <td>Food safety</td>
                    <td>50 mUAH</td>
                    <td>12 months</td>
                    <td>1 mUAH</td>
                </tr>
            </table>
        </div>
    </div>

{% endblock %}
